/*REM GRID*/
@media screen and (max-width: 4096px) and( min-width: 4094px) {
  html {
    font-size: 22px;
  }
}

@media screen and (max-width: 2620px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 2520px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 2420px) {
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 2320px) {
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 2220px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 2120px) {
  html {
    font-size: 11px;
  }
}

@media screen and (max-width: 2020px) {
  html {
    font-size: 11px;
  }
}

@media screen and (max-width: 1920px) {
  html {
    font-size: 10px;
  }
}

@media screen and (max-width: 1820px) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width: 1720px) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width: 1620px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 1520px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 1420px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 1320px) {
  html {
    font-size: 7px;
  }
}

@media screen and (max-width: 1220px) {
  html {
    font-size: 6px;
  }
}

@media screen and (max-width: 1120px) {
  html {
    font-size: 6px;
  }
}

@media screen and (max-width: 1020px) {
  html {
    font-size: 5px;
  }
}

@media screen and (max-width: 920px) {
  html {
    font-size: 5px;
  }
}

@media screen and (max-width: 820px) {
  html {
    font-size: 4px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 9px;
  }
}

@media screen and (max-width: 650px) {
  html {
    font-size: 8px;
  }
}

@media screen and (max-width: 600px) {
  html {
    font-size: 7px;
  }
}

@media screen and (max-width: 550px) {
  html {
    font-size: 7px;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 7px;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 7px;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 7px;
  }
}

@media screen and (max-width: 330px) {
  html {
    font-size: 7px;
  }
}
