// variables
$red: #ef5b5b;
$redHover: #de7777;
$blue: #00b1ff;
$black: #222222;
$white: #ffffff;

// global selectors
body {
  font-family: "Montserrat";
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  transition: 0.3s ease;
}
.container {
  width: 80%;
  max-width: 1255px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section-title {
  /* Text style for "Our Agency" */
  color: $red;
  font-family: "Segoe Script";
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 2.6rem;
}
.section-title-bottom {
  display: block;
  color: $black;
  font-family: "Montserrat";
  font-size: 2.8rem;
  font-weight: 600;
  line-height: 2.6rem;
  margin-top: 10px;
}
.section-text {
  color: grey;
  font-family: "Poppins";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
}
.section-btn {
  font-family: "Montserrat";
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  width: 17rem;
  height: 5rem;
  background-color: #ef5b5b;
  border-radius: 6px;
  &:hover {
    background-color: $redHover;
  }
}

// Header begin

.main-header {
  background-color: #a3cbe4;
  background-image: url("../images/header-bg-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Montserrat";
  padding: 6rem 0;
}

.logo {
  display: flex;

  img {
    margin-right: 10px;
  }
}
.logo-text {
  font-family: "Open Sans";
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-transform: uppercase;
  color: $black;
}
.logo-text_top {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.7rem;
}
.logo-text_bottom {
  font-size: 1.3rem;
  font-weight: 400;
}
.navigation_inner-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation-list {
  font-family: "Montserrat";
  display: flex;
  align-items: center;
}
.navigation-item {
  font-size: 1.4rem;
  line-height: 2.6rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-left: 4.5rem;
}
.navigation-link {
  color: #222222;
  text-decoration: none;
}
.dropdown-toggle {
  &::after {
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
  }
}
.dropdown {
  position: relative;
}
.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  background-color: $red;
  min-width: 150px;
  a {
    display: block;
    width: 100%;
    padding: 10px 20px;
    color: #ffffff;
    &:hover {
      background-color: #ebe0cc;
      color: $red;
    }
  }
}

.book-now-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15rem;
  height: 3.5rem;
  background-color: $red;
  border-radius: 6px;
  color: #fff;
  &:hover {
  }
}
.header-content {
  padding: 18rem 0;
}
.header-title {
  font-family: "Segoe Script";
  font-size: 2.8rem;
  color: $red;
  font-weight: 400;
  line-height: 2.6rem;
  margin-bottom: 29px;
}
.header_offer-text {
  color: $black;
  font-size: 4.1rem;
  font-weight: 600;
  line-height: 4.1rem;
  margin-bottom: 29px;
}
.offer-text-bottom {
  margin-top: 24px;
  display: block;
  font-size: 2.8rem;
  line-height: 2.6rem;
}

// Mobile navigation
.burger-menu {
  display: none;
}
.mobile-navigation {
  display: none;
  width: 100%;
  padding-top: 2rem;
  //   background-color: $red;
}
.mobile-link {
  display: block;
  font-size: 3rem;
  color: #ffffff;
  padding: 2rem 0;
}
// feature-trip section styles
.feature-trip {
  padding: 7rem 0 14.5rem 0;
  background-color: $white;
  .section-title {
    margin-bottom: 3rem;
  }
  .section-text {
    margin-bottom: 3.5rem;
  }
  .section-title-bottom {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      top: 2px;
      margin-left: -10px;
      width: 2px;
      height: 2rem;
      background-color: $red;
    }
  }
}
.feature-trip-container {
  width: 87%;
  margin-left: auto;
  margin-right: 5%;
  display: flex;
}
.trip-description {
  width: 24%;
  padding: 0 15px;
}
.trip-cards {
  width: 78%;
}

.trip-cards {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -18.4rem;
}
.card-item {
  /* Style for "Image Holder" */

  background-color: white;
  border-radius: 6px;
  box-shadow: 0.5px 2px 0px rgba(33, 30, 31, 0.2);
  text-align: center;
  margin: 0 10px;

  figcaption {
    /* Text style for "London, Englan" */
    color: $black;
    font-family: "Montserrat";
    font-size: 2rem;
    font-weight: 600;
    line-height: 2.6rem;
    margin: 15px 0;
  }
  img {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }
}
.card-bottom {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid #d6d6d6;

  a {
    background-color: $red;
    color: white;
    font-family: "Montserrat";
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.9rem;
    padding: 5px 15px;
    border-radius: 3px;
    &:hover {
      background-color: $redHover;
    }
  }
}
.rating {
  font-size: 1.4rem;
  color: $black;
  font-family: "Poppins";
  font-weight: 600;
}
.stars {
  color: $red;
  font-size: 1.6rem;
  margin-left: 5px;
}
// Convenience section
.convenience-section {
  padding: 13.5rem 0;
  background-color: #f0efef;
  text-align: center;
}
.convenience-list {
  display: flex;
  justify-content: space-around;
  margin-top: 6.5rem;
}
.convenience-item {
  width: 30%;
  padding: 3.5rem 1.5rem 5.5rem 1.5rem;
  background-color: #fff;
  min-height: 260px;

  h4 {
    @extend .section-title-bottom;
    margin: 2rem 0;
  }
}
.slick-slide img {
  margin: 0 auto;
  display: block;
}
.why-choose-us {
  margin-top: 13.5rem;
}
/* Media queries */
// @media only screen and (min-width: 992px) {
//   .main-header {
//     min-height: 100vh;
//   }
// }
@media only screen and (max-width: 900px) {
  .navigation-list {
    display: none;
  }
  .burger-menu {
    display: block;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
  .main-header {
    padding: 3rem 0;
  }
  .header-content {
    padding: 10rem 0;
  }
  .feature-trip-container {
    margin: 0 auto;
    flex-direction: column;
    width: 93%;
  }
  .feature-trip {
    padding-bottom: 5.5rem;
  }
  .trip-cards {
    width: 100%;
    justify-content: space-between;
    order: 1;
    margin-top: -12.4rem;
  }
  .trip-description {
    width: 100%;
    order: 2;
    margin-top: 5rem;
  }
  .card-bottom {
    flex-wrap: wrap;

    a {
      width: 100%;
      margin-top: 2rem;
    }
  }
}

@media only screen and(max-width: 500px) {
  .header_offer-text {
    font-size: 3.1rem;
  }
  .offer-text-bottom {
    font-size: 1.8rem;
  }
  .trip-description {
    order: 1;
    margin-top: 0;
  }
  .trip-cards {
    position: static;
    flex-direction: column;
    order: 2;
    margin: 0;
    padding: 5rem 0;
  }
  .card-bottom {
    a {
      padding: 10px 15px;
      font-size: 2rem;
    }
  }
  .card-item:not(:first-child) {
    margin-top: 4.5rem;
  }
  .rating,
  .stars {
    font-size: 2rem;
  }
  @media only screen and (max-width: 400px) {
    .section-btn {
      width: 100%;
    }
  }
}
